button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

button.is-loading:before {
  content: "refresh";
  animation: rotate 1s linear infinite;
}

button:not(.btn-icon) i {
  margin-right: 5px;
}

.btn {
  min-width: 180px;
}

button.btn-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--primary-color);
}

button.btn-icon:hover {
  background-color: var(--bg-color);
}
