@import "./styles/icon.css";
@import "./styles/button.css";
@import "./styles/form.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-color: #6b6cf1;
  --bg-color: #dcdcdc;

  background: var(--bg-color);
}

.white-block {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.white-block + .white-block {
  margin-top: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.row + .row {
  margin-top: 10px;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}
