:host {
  display: flex;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: white;
}

nav {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

a.active {
  background-color: rgba(255, 255, 255, 0.3);
}
a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
